h2{
    color: rgb(2, 247, 104);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    }
    
    h1{
    color: rgb(165, 42, 159);
    font-size: x-large;
    text-decoration: overline;
    }

    article > p{
    background-color: aqua;
    }

    .notebox{
        border: solid rgb(rgb(95, 14, 14), rgb(19, 99, 19), rgb(251, 255, 0));
        padding: 5em;
        width: fit-content;
    }
    .notebox.warning{
        background-color: orange;
        font-weight: bold;
    }

    .notebox.danger{
        background-color: brown;

    }

    /*unvisited link*/
    a:visited{
        color:green;
        text-decoration:line-through;
    }

    /*mouse over link*/
    a:hover{
    color: pink;
    text-decoration: underline;
    }

    /*aelected link*/
    a:active{
    color: blue;
    }
    